<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="BoardDAO"> 
<!-- 게시글 추가 : 파라미터 필요 타입(VO)  -->
<insert id="insertBoard" parameterType="board"> 
	INSERT INTO boards 
	 VALUES (('b00000'||boards_bid_seq.nextval),#{b_writer},#{b_title},#{b_content},#{b_pwd},sysdate)
</insert> 
<!-- 로그인 : 파라미터 필요 : VO 결과값 필요 : VO 
	 id중복여부 : 파라미터 필요 : VO 결과값 필요 : VO
-->

<!-- 게시판 조회 : 결과값 필요 : VO -->
<select id="getBoardList" resultType="board">
	SELECT * 
	 FROM boards
	ORDER BY b_id DESC
</select>


<!-- 게시물 자세히 보기  :  파라미터 필요 : VO 결과값 필요 : VO -->
<select id="showBoard" parameterType="board" resultType="board">
	SELECT *
	 FROM boards
	WHERE b_id = #{b_id} 
</select>
<!-- 게시물 수정 : 파리미터 필요 : VO  -->
<update id="updateBoard" parameterType="board">
	UPDATE boards
	 SET  B_TITLE = #{b_title} 
	 	 ,B_CONTENT = #{b_content} 
	 	 ,B_DATE = sysdate
	WHERE B_ID = #{b_id} 
</update>


</mapper>  
